<!DOCTYPE html>
<html>
<head>
  <title>doGood</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #beeeef;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">DoGood</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <% if user_signed_in? %>
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Pledges", pledges_path %></li>
                  <li><%= link_to "Recent Pledges", recent_pledges_pledges_path %></li>
                  <li><form class="navbar-search pull-right" action="/users/search" method="GET">
                        <div class="input-append">
                          <input type="text" class="search-query" name="search_query" placeholder="Search" required>
                          <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
                        </div>  
                      </form></li>
                  <li><%= link_to 'Logout',
                                  destroy_user_session_path,
                                  method: :delete %></li>
              <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class="main-container" style="margin-top: 5em">
  <% if alert %>
    <div class="alert alert-error">
      <button type="button" class="close">&times;</button>
    <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close">&times;</button>
    <%= notice %>
    </div>
  <% end %>
  
	<%= yield %>
</div>

</body>
</html>
